body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 20px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.repository {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
}

.page-link {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
}

.page-link:hover {
    background-color: #2980b9;
}

.modal-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modal-title {
    background-color: #007bff;
    color: white;
}
.custom-width {
    width: 10rem;
}

.lang{
   margin-left: 1rem;
   padding-bottom: 1rem;
}